{% extends "global/Page.html" %}
{% load otree %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %} 
    What is your payment choice for stage 3?
    {% endblocktrans %}
{% endblock %}

{% block content %}
<p>{% blocktrans trimmed %} 
    Stage 3: Choice between Piece rate payment and Tournament payment
    
    As in Stages 1 and 2, you will again have 3 minutes to type as many exercises as possible.
    However, you must now choose your preferred payment method for your performance in Stage
    3. You can either choose a Piece-rate payment (as in Stage 1) or a Tournament payment (as in
    Stage 2). If you choose the Piece rate payment, then you will receive 1,500MNT per correct
    answer. If you choose the Tournament payment, then your performance in Stage 3 will be
    evaluated in comparison to the performance of the other three group members in Stage 2. 
    As a reminder: That is the stage that you have just completed. If you enter more correct answers than
    all three of your group members did in Stage 2, then you will receive 6,000MNT per correct
    answer. In other words, no group member of your group can have a Stage 2-performance which
    is higher than your Stage 3-performance, otherwise you receive no payment for this stage. In
    case of a tie, the ranking among the members with equal performances is again determined
    randomly. The group composition (with 2 men and 2 women) is as it was in Stage 2. If you
    choose the Tournament payment, you will not be informed about the outcome of the tournament
    until the end of the experiment {% endblocktrans %}
</p>

{% blocktrans trimmed %} Please enter your choice.{% endblocktrans %}

    {% formfields %}

    {% next_button %}

{% endblock %}