{% extends "otree_redwood/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Random Number Game
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'random_number_game/random-number/random-number.js' %}"></script>
{% endblock %}

{% block content %}
    {% with config=subsession.config %}
        <random-number
            period-length='{{ config.duration }}'
            num-players='{{ player.num_players }}'
            round-number='{{ subsession.round_number }}'
            initial-number='{{ player.initial_number}}'
            stage='{{player.group.stage}}'
        ></random-number>
    {% endwith %}

{% endblock %}