{% extends "global/Page.html" %}
{% load otree static %}
{% load i18n %}

{% block title %}
{% blocktrans trimmed %}Final Page {% endblocktrans %}
{% endblock %}

{% block content %}

<div>{% blocktrans trimmed %} You've reached the end of the game. Your payoffs are below {% endblocktrans %}</div>

<table class="table" style="margin-top:20px; margin-bottom:10px">
    <th>
        <td>{% blocktrans trimmed %}Stages{% endblocktrans %}</td>
        <td>{% blocktrans trimmed %}Payoff{% endblocktrans %}</td>
    </th>
        <tr>
            <td></td>
            <td>1</td>
            <td>{{ payoff_1 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>2</td>
            <td>{{ payoff_2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>3</td>
            <td>{{ payoff_3 }}</td>
        </tr>
</table>
<p>
    {% blocktrans trimmed %}Your total earnings are 28000 {% endblocktrans %}+ {{ player.payoff }} = {{ payoff_plus_fee }} and your 
    {% blocktrans trimmed %} randomly selected stage is {% endblocktrans %} {{ payment_stage }}
</p>    

{% if treatment == 0 %}
{% else %}
    <p>
        {% blocktrans trimmed %}We will also donate {% endblocktrans %} {{ player.payoff }} , 
        {% blocktrans trimmed %}
        the equivalent amount of your performance 
        in the game, to the State Emergency Committee Covid-19 fund.
        {% endblocktrans %}
    </p>
{% endif %}


{% next_button %}

{% endblock %}