{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final Page
{% endblock %}

{% block content %}

<div>You've reached the end of the game. Your payoffs are below </div>

<table class="table" style="margin-top:20px; margin-bottom:10px">
    <th>
        <td>Stages</td>
        <td>Payoff</td>
    </th>
        <tr>
            <td></td>
            <td>1</td>
            <td>{{ payoff_1 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>2</td>
            <td>{{ payoff_2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>3</td>
            <td>{{ payoff_3 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total Payoff</td>
            <td>28000 + {{ player.payoff }}</td>
        </tr>
</table>
<p>

</p>
{% next_button %}

{% endblock %}